extends ../../layouts/default

block head
  title bug报告

block neck
  link(rel='stylesheet', href='/views/contact/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/contact/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 报告
      div#contact
    div.col-sm-6.special
      div.page-header
        h1 bug报告
      p.lead 有任何问题请联系我
      i.fa.fa-reply-all.super-awesome

  script(type='text/template', id='tmpl-contact')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 我已经接收到了你的信息
        |<% } %>
      |<% if (!success) { %>
      div.form-group(class!='<%- errfor.name ? "has-error" : "" %>')
        label 姓名:
        input.form-control(type='text', name='name', value!='<%= name %>')
        span.help-block <%- errfor.name %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label 你的手机号码:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%- errfor.email %>
      div.form-group(class!='<%- errfor.message ? "has-error" : "" %>')
        label 信息:
        textarea.form-control(name='message', rows='5') <%= message %>
        span.help-block <%- errfor.message %>
      div.form-group
        button.btn.btn-primary.btn-contact(type='button') 发送报告
      |<% } %>
