extends ../../../layouts/account

block head
  title 此功能未开放

block body
  div.row
    div.col-sm-8
        div.page-header
            h1 此功能待测评结束后开放
                
    div.col-sm-4
        div.page-header
            h1 侧栏
    script(src='/views/account/measurement/detail.js')