extends ../layouts/default

block head
  title 山东航空乘务中队OA

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 欢迎
    p.lead
      | 请先登录系统，才能使用相关功能！
    div
      a.btn.btn-primary.btn-lg(href='/login/') 登录
    div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 关于SDABJCWOA
          p 山东航空乘务中队OA
          a.btn.btn-default.btn-block(href='/about/') 了解更多
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 登录
          p 请先登录系统，帐号为员工号
          a.btn.btn-default.btn-block(href='/login/') 登录
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 bug报告
          p 如果在使用过程中，忘记密码或者遇到任何问题，请联系网站管理员：王征亚
          a.btn.btn-default.btn-block(href='/contact/') 报告问题
