button.btn.btn-success.btn-lg(type="button" data-toggle="modal" data-target="#myModal") 发送微信消息
                div.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                    div.modal-dialog(role="document")
                        div.modal-content
                            div.modal-header
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                                h4.modal-title 选择人员
                            div.modal-body
                                p 确定发送消息&hellip;
                            div.modal-footer
                                button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
                                button(type="button" class="btn btn-success") 发送
        div.form-group
            button.btn.btn-primary.btn-signup.btn-block(type='submit') 创建阅签