extends ../../../layouts/account

block head
  title 增加一个阅签

block body
    div.row
        div.col-sm-8
            div.page-header
                h1 您没有权限
            p
                i.fa.fa-arrow-circle-left
                a(href='/account/article/')  退回
                        
        div.col-sm-4
            div.page-header
                h1 侧栏